<launch>

  <arg name="sim" default="false" doc="Whether use simulation time. Default false." />
  <group if="$(arg sim)">
    <param name="/use_sim_time" value="true"/>
  </group>
  <group unless="$(arg sim)">
    <param name="/use_sim_time" value="false"/>
  </group>

  <arg name="ns" default="camera"/>
  <arg name="base_frame" default="base_link"/>
  <!-- The default one is comparable with the realsense camera -->
  <arg name="cloud_topic" default="depth/color/points"/>

  <node ns="$(arg ns)" name="hope_ros" pkg="hope" type="hope_ros" respawn="false">
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="cloud_topic" value="$(arg cloud_topic)" />
    <param name="xy_resolution" value="0.05" />
    <param name="z_resolution" value="0.02" />
  </node>

</launch>